/* Implement the revert link effect */

@import "rounded";

@mixin revert-link {
    a {
        @include rounded(20px);
        background-color: $color-loud;
        white-space: nowrap;
        padding: {
            top: .5em;
            left: 1em;
            bottom: .5em;
            right: 1em;
        }
        color: $color-quiet;
        text-decoration: none;
        &:hover {
            color: $color-silent;
            text-decoration: none;
        }
        &:visited {
            color: $color-silent;
            text-decoration: none;
        }
    }
}

@mixin link {
    a {
        text-decoration: underline;
        color: $color-quiet;
        &:visited {
            text-decoration: none;
            border-bottom: 1px dashed $color-quiet;
        }

        &:hover {
            border-top: 1px solid $color-quiet;
        }
    }
}