---
layout: default
---
<div id="article">
<article>
  <h1>{{ page.title }}</h1>
  <h5 id="date">{{ page.date | date: "%b '%y"}}</h5>
  {{ content }}
</article>
</div> <!-- /article -->
<footer>
<div id="avatar">
</div>
<h2>Sebastien Requiem</h2>
<h3>Sebastien is a developer living in scandinavia with a (limited) experience in entrepreneurship. He likes building stuff with a keyboard, a mouse or hammer. You can follow him on twitter <a href="http://twitter.com/kiddouk" target="_blank" title="sebastien requiem on twitter">@twitter</a></h3>
</footer>
