---
layout: default
---
<div id="article">
<article>
  <h1>{{ page.title }}</h1>
  <h5 id="date">{{ page.date | date: "%b '%y"}}</h5>
  {{ content }}
</article>
</div> <!-- /article -->
<footer>
<div id="avatar">
  <img src="https://pbs.twimg.com/profile_images/378800000254643600/93dba7efc63408889b084895fbf0d44e.jpeg" />
</div>
<div id="author">
  <h2>Sebastien Requiem</h2>
  <h3>Sebastien is a developer living in scandinavia with a (limited) experience in entrepreneurship. He likes building stuff with a keyboard, a mouse or hammer. You can follow him on twitter <a href="http://twitter.com/kiddouk" target="_blank" title="sebastien requiem on twitter">@kiddouk</a>, see his code on <a href="http://github.com/kiddouk/" target="_blank" title="sebastien requiem on github">github</a> or see his CV on <a href="http://www.linkedin.com/in/sebastienrequiem" target="_blank" title="sebastien requiem on linkedin">linkedin</a></h3>
</div><!-- /author -->

</footer>
